<div>
    <div class="album-grid"></div>
</div>

<style>
    .album-grid {
        display: flex;
        flex-direction: column;
    }

    .album-grid h1 {
        width: 100%;
    }

    .album-grid button {
        margin: 1rem;
        margin-top: 0;
        font-size: 1.3em;
        text-align: left;
        -webkit-backdrop-filter: none;
        backdrop-filter: none;
    }

    .album-grid button small {
        font-size: .8em;
        font-style: italic;
        opacity: .7;
    }
</style>