<div>

    <form id="settings-form">
        <h2><i class="bi bi-images"></i> Slideshow settings</h2>
        <label class="glass-tile field">
            <img src="asset/immich-logo.png" width="30" height="30" alt="immich logo">
            <i class="bi bi-link-45deg"></i>
            <span>
                Immich server url:
                <input type="text" id="immich-server-url">
            </span>
        </label>

        <label class="glass-tile field">
            <img src="asset/immich-logo.png" width="30" height="30" alt="immich logo">
            <i class="bi bi-key-fill"></i>
            <span>
                Immich api key
                <input type="text" id="immich-api-key">
            </span>
        </label>

        <label class="glass-tile field">
            <i class="bi bi-image"></i>
            <i class="bi bi-hourglass-split"></i>
            <span>
                Slide duration (ms)
                <input type="number" id="slide-duration">
            </span>
        </label>

        <label class="glass-tile field">
            <i class="bi bi-transparency"></i>
            <i class="bi bi-hourglass-split"></i>
            <span>
                Animation Speed (ms)
                <input type="number" id="animation-speed">
            </span>
        </label>

        <button class="glass-tile" type="submit"><i class="bi bi-check-lg"></i> Save</button>
    </form>

    <form id="import-form">
        <h2><i class="bi bi-download"></i> Import settings</h2>
        <p>import the settings from a (remote) json input. Examples can be found in the project documentation</p>

        <label class="glass-tile field">
            <i class="bi bi-filetype-json"></i>
            <i class="bi bi-link-45deg"></i>
            <span>
                config file url:
                <input type="text" id="import-url">
            </span>
        </label>

        <label class="glass-tile field">
            <i class="bi bi-braces"></i>
            <span>
                Direct json text:
                <textarea rows="6" id="json-text"></textarea>
            </span>
        </label>

        <button class="glass-tile" type="submit"><i class="bi bi-download"></i> Import</button>
    </form>

    <form id="advanced-form" onsubmit="event.preventDefault()">
        <h2><i class="bi bi-code-slash"></i> Advanced settings</h2>
        <label class="glass-tile field">
            <i class="bi bi-bug"></i>
            <span>
                Enable devtools
                <input type="checkbox" id="enable-devtools">
            </span>
        </label>
    </form>
</div>

<style>
    form {
        padding: 1em;
        display: flex;
        flex-direction: column;
        align-items: flex-start;


        margin: 1em;
        border: solid 1px grey;
        border-radius: 6px;

    }

    p {
        margin-bottom: 1.5em;
    }

    label {
        width: 100%;
        margin-bottom: 1em;
        display: flex;
        align-items: center;

    }

    label + p {
        margin-top: -.5em;
    }

    label span {
        width: 100%;
        font-size: .8em;
        color: rgb(214, 214, 214);
    }

    label textarea,
    label input {
        display: block;
        width: 100%;
        background: none;
        font-size: 1rem;
        padding: .3em;
        border: 0;
        border-bottom: dashed 2px grey;
        color: white;
    }

    label input[type=checkbox] {
        width: 20px;
    }

    img {
        margin-right: .5rem;
    }

    label i {
        font-size: 1.7em;
        z-index: 2;
    }

    label i:last-of-type {
        margin: 0;
        margin-right: 1rem;
    }

    img+i,
    label i+img,
    label i+i {
        margin-left: -.5em !important;
        margin-top: 1.4em !important;
        font-size: 1.15em;
        opacity: .6;
        z-index: 1;
    }
</style>