* {
    box-sizing: border-box;
}

html,
body,
main {
    width: 100%;
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0;
    background: rgb(24, 24, 24);
    color: whitesmoke;
}

p,
h1,
h2,
h3 {
    margin-top: 0;
}

header {
    padding: 1em;
    margin-bottom: 1rem;
}

header>button {
    margin-right: 10px;
    font-size: 1.2rem;
    -webkit-backdrop-filter: none;
}

main {
    position: relative;
}

small {
    font-style: italic;
    opacity: .8;
    font-size: .7em;
    font-weight: normal;
}

button {
    -webkit-appearance: none;
    cursor: pointer;
    font-size: 1rem;
    margin-right: .5em;
}

i {
    font-size: .9em;
    margin-right: .3em;
}

.content-bottom {
    justify-content: flex-end;
}



.glass-tile {
    border: 0;
    background: rgba(75, 75, 75, 0.3);
    box-shadow: inset -1px 2px 5px 0px rgba(220, 220, 220, 0.22);
    border-radius: 6px;
    color: white;
    padding: .7em 1em;
}
