<div id="alers-container"></div>

<style>
    #alers-container {
        padding: 1rem;
    }

    #alers-container .alert {
        padding: 1em;
        border: solid 2px transparent;
        color: white;
    }

    #alers-container .alert.success {
        color: green;
        border-color: green;
    }

    #alers-container .alert.info {
        color: lightskyblue;
        border-color: lightskyblue;
    }

    #alers-container .alert.warning {
        color: orange;
        border-color: orange;
    }

    #alers-container .alert.danger {
        color: firebrick;
        border-color: firebrick;
    }
</style>